body{
    background: linear-gradient(to bottom,rgb(255, 0, 234), blue);
    background-repeat: repeat;
    background-attachment:fixed;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0, 0, 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background:linear-gradient(blue, rgb(255, 4, 255));
}
#gameContainer{
    text-shadow: 0px 0px 5px rgb(1, 251, 251), 4px 2px 5px rgb(221, 255, 0);
    box-shadow: 10px 6px 10px rgb(0, 0, 0);
    height: 450px;
    width: 550px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
}
#cellContainer{
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;

}
#restartBtn{
    border: 3px solid;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 0, 0, 0.888), rgb(51, 0, 255));
    line-height: 30px;
    width: 150px;
    cursor:pointer;
}

#restartBtn:hover{
    background: linear-gradient(red, blue);
    transform:scale(1.1);
    transition:transform 0.2s;
}
